// CSS embed codes
@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400);


// core font definitions
$font-family-base:							'Open Sans', sans-serif;
$header-font-family:						'Open Sans', sans-serif;
$header-font-weight:						300;



// Text transform
$capitalize: capitalize;
$lowercase: lowercase;
$uppercase: uppercase;
