// place navigation styles here


// vertical / local menus
ul.menu { // exclude Drupal toolbar menu
  margin: 0;
  padding: 0;
  ul {
    margin-left: $vertmenu-indent;
    padding: 0;
  }
  li {
    line-height: $line-height-headers;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &.leaf {
      list-style-image: none;
    }
    a {
      color: $vertmenu-text;
      display: block;
      margin-left: ($vertmenu-indent * -.5);
      padding: $vertmenu-padding-vert ($vertmenu-indent/2);
      &:hover {
        background: $vertmenu-bg-active;
        color: $vertmenu-text-hover;
      }
      &:active {
        background: $vertmenu-bg-hover;
        color: $vertmenu-text-active;
      }
      &.active:after {
       content: '\00a0\203a';
      }
    }
    .active {
      color: $black;
    }
  }
  .expanded, .collapsed {
    list-style-image: none; //override drupal system
  }
}

// horizontal navigation
@media (min-width: $menu-breakpoint) {
  header {
    ul.menu {
      background-color: $menu-bg;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        background-color: $menu-bg;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        &.expanded {
        background: url('/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_888888_256x240png') no-repeat -64px -16px;        
        }
      }
      a {
        color: $menu-text;
        display: block;
        margin: 0;
        padding: $menu-padding-vert ($menu-padding-horiz*2) $menu-padding-vert $menu-padding-horiz;
        &:hover {
          background-color: $menu-bg-hover;
          color: $menu-text-hover;
          transition: All 0.5s ease;
        }
        &.active {
          background-color: $menu-bg-active;
          color: $menu-text-active;
          &:after {
            content: none;
          }
        }
        /*span.ui-icon-carat-1-e {
          float: right;
          position: static;
          margin-top: 2px;
          width: 16px;
          height: 16px;
          background: url('../../../core/assets/vendor/jquery.ui/themes/base/images/ui-icons_888888_256x240png') no-repeat -64px -16px;
        }*/
      }
      > li {
        float: left;
      }
      ul {
        border: 0;
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
          top: ((2*$menu-padding-vert)+$line-height-headers);
          z-index: 1000;
        //visibility: hidden;
        li {
          float: none;
          margin: 0;
          //width: $vertmenu-submenu-width;
          /*ul {
            position: absolute;
              left: $vertmenu-submenu-width;
              top: 0;
          }*/
        }
      }
      &:after {
        @include clearfix;  
      }
    }
  }
}

// superfish overrides
.sf-menu li.sfHover ul {
  top: ((2*$menu-padding-vert)+$line-height-headers);
}

// Tabs
ul.primary {
  border-bottom: 1px solid #ddd;
  @include clearfix;
  > li {
    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    padding: 0;

    // Actual tabs (as links)
    > a {
      background: #ddd;
      color: $link-text;
      margin-right: 2px;
      line-height: $line-height-p;
      //border: 1px solid transparent;
      border-radius: $form-input-radius $form-input-radius 0 0;
      &:hover {
        //border-color: #ccc #ccc #ccc;
        color: $link-text-hover;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $menu-text;
        background-color: $menu-bg-hover;
        border: none;
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  /*&.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }*/
}
