body {
	background-color: $body-bg;
}

#topbar {
	background-color: $navy;
	color: #fff;
	padding: 0 11px;
	text-align: right;
	.block {
		margin-bottom: 0;
	}
}

h2.masthead-title {
	position: absolute;
		left: 0;
		right: 0;
	margin: -35vw auto 0;
	text-align: center;
}
.masthead-image {
	width: 100%;
}

#main-menu-wrapper {
	background-color: #fff;
}

.not-front #content-top,
.node-type-product #content {
	background: #fff;
	margin-bottom: 3.45%;
	padding: 3.45%;
}

#content-top .block {
		margin-bottom: 0;
	}

#footer-wrapper {
	background-color: $footer-bg !important;
	padding: 0 0 8em;
	a {
		color: $body-text;
	}
}
#footer-columns {
	@include grid-span(12, 1, 8); // columns in parent grid, starting at, columns in child grid
}
.footer-column {
	@extend .col-1;
}
footer h2 {
	margin-top: -30px;
}