body {
	background-color: $body-bg;
}

main .block-block {
	display: block;
	margin: 0 !important;
	padding: 30px;
	width: 100%;
	&:nth-child(3n) {
		background: #fff;
	}
	&:nth-child(3n+1) {
		background: #666;
	}
	&:nth-child(3n+2) {
		background: #242424;
	}
}

#footer-wrapper {
	background-color: $footer-bg !important;
	padding: 0 0 8em;
	a {
		color: $body-text;
	}
}
#footer-columns {
	@include grid-span(12, 1, 8); // columns in parent grid, starting at, columns in child grid
}
.footer-column {
	@extend .col-1;
}
footer h2 {
	margin-top: -30px;
}