// CSS embed codes
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400);


// core font definitions
$font-family-base:							'Newslab W01', serif;
$header-font-family:						'Avenir Next W01', sans-serif;
$header-font-weight:						800;



// Text transform
$capitalize: capitalize;
$lowercase: lowercase;
$uppercase: uppercase;
